/* 导航条 */
.topnav {
  margin-top: 0px;
  padding-top: 0px;
  overflow: hidden;
  background-color: rgb(25, 245, 208);
}
 
/* 导航条链接 */
.topnav a {
  font-size: 17px;
  float: left;
  display: block;
  color: rgb(35, 132, 211);
  text-align: center;
  padding: 15px 35px;
  text-decoration: none;
}
 
/* 链接颜色修改 */
.topnav a:hover {
  transition-duration: 800ms;
  background-color: #1aeedc;
  color: black;
}